@{
    ViewData["Title"] = "Home Page";
}
<body>
    <img id="blur" class="background" src="~/css/logo/wallpaperflare.com_wallpaper.jpg" />
    <div class=" text-center">
       
         <h1 id="line">PK TICKETS </h1>
</div>
</body>
@section scripts{ 
    <link href="~/css/index.css" rel="stylesheet" />
}