
#color {
    border:solid;
    background-color: #FBF6D9;
    float: right;
}
#thead {
    background-color: #edf5ed;
}
#edit {
    background-color: #ADD8E6;
}
#heading {
    color: black;
    text-decoration: underline;
    font-size: 2.5em;
}
#add {
    float: right;
    margin-right: 1%;
}
#formhead {
    color: dodgerblue;
    font-size: 2.5em;
}
#center {
    margin-top:11%;
}
#black {
    background-color: black;
    opacity: 0.6;
}

#ed {
    margin-left: -79%;
    font-size: 22px;
}
#de {
    margin-right: -44%;
    margin-top: -41%;
    font-size: 22px;
}
#e {
    margin-left: -71%;
}

#d {
    margin-right: -63%;
    margin-top: -61%;
}
.home{
    font-size:23px;
}
.Size {
    font-size: 23px;
    margin-left: 2%;
    font-size: 27px;
}
.Add {
    font-size: 35px;
}
