.required:after {
    content: " *";
    color: red;
}
.cascading-right {
    margin-right: -50px;
}
#form {
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
}
#margin {
    margin-left:25%;
}
.w-100{
    width:115%!important;
}
.w-98 {
    width:98%!important;
}