.home {
    font-size: 25px;
    margin-top: 7px;
}

.Size {
    font-size: 23px;
    margin-left: 2%;
    font-size: 27px;
}
.margin {
    margin-left: 49%;
    font-size: 17px;
    margin-top: 4px;
}
