
.card {
    margin-left: 25%;
    width: 51%;
}
.card-header {
    text-align: center;
    font-size: xx-large;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 2rem;
}
.large {
    font-size: x-large;
}
.small {
    margin-top: -5%;
    font-size: larger;
    margin-left: 30%;
}
