#heading {
    color: black;
    text-decoration: underline;
    font-size: 2.5em;
}
#add {
    float: right;
}
.Add {
    font-size: 29px;
    margin-left: 66%;
}
}
#thead {
    background-color: #edf5ed;
}
.edit {
    margin-left: -79%;
    font-size: 22px; 
}

.delete {
    margin-right: -44%;
    margin-top: -41%;
    font-size: 22px;
}

.Add:hover {
    color: blue;
}


.fa-pen-to-square:hover {
    font-size: 28px;
}

.fa-trash-can:hover {
    font-size: 28px;
}
#add .msg {
    visibility: hidden;
    font-size: 12px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 84%;
    left: 88%;
}

#add:hover .msg {
    visibility: visible;
}