#heading {
    color: black;
    text-decoration: underline;
    font-size: 2.5em;
}
#add {
    float: right;
}
.Add {
    font-size: 35px;
}
#thead {
    background-color: #edf5ed;
}
.edit {
    margin-left: -79%;
    font-size: 22px; 
}

.delete {
    margin-right: -44%;
    margin-top: -41%;
    font-size: 22px;
}