.edit {
    font-size: 22px;
    margin-left: -84%;
}


.delete {
    margin-top: -62%;
    font-size: 22px;
    margin-left: 40%;
}
#thead {
    background-color: #edf5ed;
}
.Add {
    float: right;
    font-size: 35px;
    margin-bottom: 6px;
}


#heading {
    color: black;
    text-decoration: underline;
    font-size: 2.5em;
}
.side {
    margin-left: -25px;
}