.edit {
    font-size: 22px;
    margin-left: -84%;
}


.delete {
    margin-top: -58%;
    font-size: 22px;
    margin-left: 40%;
}
#thead {
    background-color: #edf5ed;
}
.Add {
    float: right;
    margin-right: 22px;
    font-size: 29px;
    margin-bottom: 1%;
}


#heading {
    color: black;
    text-decoration: underline;
    font-size: 2.5em;
}
.side {
    margin-left: -25px;
}
#tag {
    margin-top: 5px;
    margin-right: -63px;
    float: right;
}
.Add:hover {
    color: blue;
}

#tag:hover {
    color: blue;
}

.fa-pen-to-square:hover {
    font-size: 28px;
}

.fa-trash-can:hover {
    font-size: 28px;
}