.edit{
    margin-left: -50%;
    font-size: 25px;
}
.delete{
    margin-right: -28%;
    margin-top: -28%;
    font-size: 25px;
}
#heading {
    color: black;
    text-decoration: underline;
    font-size: 2.5em;
    margin-bottom:4%;
}
#add {
    float: right;
}

.Add {
    font-size: 35px;
    float: right;
    margin-right: 34px;
    margin-top: 75px;
}
.tab {
    font-size: 35px;
    float: right;
    margin-top: -4%;
}



#thead {
    background-color: #edf5ed;
}