.edit{
    margin-left: -50%;
    font-size: 22px;
}
.delete{
    margin-right: -30%;
    margin-top: -25%;
    font-size: 22px;
}
#heading{
    color: black;
    text-decoration: underline;
    font-size: 2.5em;
    margin-bottom:1%;
}
/*#add{
    float: right;
}
.Add{
    font-size: 35px;
    float: right;
    margin-right: 34px;
    margin-top: 75px;
}*/
.tab {
    font-size: 29px;
    float: right;
    margin-right: -17px;
    margin-bottom: 21%;
}
#thead{
    background-color: #edf5ed;
}


.tab:hover {
    color: blue;
}


.fa-pen-to-square:hover {
    font-size: 28px;
}

.fa-trash-can:hover {
    font-size: 28px;
}
.s .msg {
    visibility: hidden;
    font-size: 12px;
    width: 115px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 78%;
    left: 88%;
}

.s:hover .msg {
    visibility: visible;
}